* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body{
  width: 100%;
  height: 100vh;
  background-color: #D2D5DA;
  background-image: url("../dist/resources/hero_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
